@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  font-family: "Montserrat", sans-serif;

  --primary: #5cff95;
  --secondary: #c930cc;
}

body,
html {
  background-color: var(--color-stone-800);
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #141414;
}

::-webkit-scrollbar-thumb {
  background: #4b4b4b;
}

::-webkit-scrollbar-thumb:hover {
  background: #5e5e5e;
}
